
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome to the Georgetown Book Market!</h1>

    <p>This is where you can upload and buy books from your Georgetown peers!</p>

    <!-- Button styled with the first color from the palette -->
    <a href="{{ url_for('book_routes.book_form') }}">
        <button style="background-color: #739eb5; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Go to Book Form</button>
    </a>

    <h2>Featured Books:</h2>
    <div class="row">
        {% for book in books %}
            <div class="col">
                <!-- Card styled with colors from the palette -->
                <div class="card" style="width: 18rem; margin-bottom: 20px; background-color: #ebf0dc; border-color: #475365;">
                    <!-- Image styling to ensure uniformity -->
                    <img class="card-img-top" src="{{ book['image_url'] }}" alt="{{ book['title'] }} cover" style="height: 280px; object-fit: cover;">
                    <div class="card-body" style="color: #475365;">
                        <h5 class="card-title">{{ book['title'] }}</h5>
                        <p class="card-text">Price: ${{ book['price'] }}</p>
                        <!-- Add any additional information or buttons as needed -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

