/* General Body Styling */
body {
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

/* Sidebar Styling */
.list-group-item-action {
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.list-group-item-action:hover {
    background-color: #e9ecef;
}

/* Cards Styling */


.card {
    display: flex;
    flex-direction: column; /* Set flex direction to column for equal height */
    height: 100%;

    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    border: none; /* Optional: removes the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        
}

.card:hover {
    transform: scale(1.02);
}

.card-img-top {
    height: 50px;
    object-fit: contain;
}

/* Create Listing Button */
.btn-primary {
    background-color: #4267B2;
    border: none;
}

.btn-primary:hover {
    background-color: #365899;
}
